logs/
workspace/
cache/
out/
results/
logs2/
workspace2/
out2/
configs2_cloud/
_cloud_secrets.json
runbook/
configs3_cloud/
logs3/
workspace3/
out3/
tb_events/
configs4/
workspace4/
out4/
logs4/
tb_events4/
workspace5/
out5/
logs5/
tb_events5/
_secrets_*.json
dev/user_config.json
